Repository taicaile/python-project: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, isort, markdownlint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: debug-statements

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]

      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]

      - id: markdownlint
        name: markdownlint
        description: "Checks the style of Markdown/Commonmark files."
        entry: markdownlint
        language: node
        types: [markdown]

      # shellcheck

update
  .pre-commit-config.yaml
Due: none

update
  setup.sh
Due: none

update
  pyproject.toml
  test.py
Due: pylint, isort

update
  pyproject.toml
Due: none

rm test.py
  test.py
Due: pylint, isort

update
  .gitignore
  dev-init.sh
  poetry.sh
Due: none

update
  dev-init.sh
Due: none

update
  dev-init.sh
  readme.md
Due: markdownlint

update
  readme.md
Due: markdownlint

optional upgrade
  dev-init.sh
Due: none

add vim
  dev-init.sh
Due: none

update
  dev-init.sh
  setup.sh
Due: none

update
  .envrc
Due: none

add pre-commit install
  setup.sh
Due: none

remove sudo
  dev-init.sh
Due: none

fix array
  dev-init.sh
Due: none

update
  .devcontainer/Dockerfile
  .devcontainer/base.Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/library-scripts/common-debian.sh
  .devcontainer/library-scripts/meta.env
  .gitignore
Due: none

update
  .devcontainer/base.Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/library-scripts/common-debian.sh
  .devcontainer/library-scripts/meta.env
  .envrc
Due: none

update
  dev-init.sh
  python3.sh
  setup.sh
Due: none
